body {
  font-family: $font-default;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
  }
}

ol, ul, li {
  margin:0;
  padding: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
      cursor: not-allowed;
  }
}

p {
  margin: 0;
  padding: 0;
}
