body {
  font-family: "GmarketSansMedium", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  :hover {
    color: $primary !important;
  }
}

.router-link, 
.router-link-active {
  :hover {
    color: $primary !important;
  }  
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

dl, dt, dd {
  padding: 0;
  margin: 0;
}


.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus {
    background-color: #c4464a;
    border-color: #c4464a;   
  }
} 

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
  &:hover,
  &:focus {
    background-color: $primary;
    border-color: $primary;
    color: #fff; 
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb($primary, .5);
  }
}

.btn {
  &:hover {
    color: #fff;
  }
}

button {
  white-space: nowrap;
}

.carousel__pagination-button {
  background-color: #f18285 !important;
  &--active {
    background-color: $primary !important;

  }
}
